*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background-color: rgb(218, 218, 216);
}

.menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
    align-items: center;
    justify-content: center;
    background-color: #8ca2b4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    bottom: 20px;
}

.icon {
    position: absolute;
    left: 40px;
    display: flex;
    gap: 10px;
}

.gitHub img{
    position: absolute;
    height: 35px;
    right: 40px;
}

.icon img {
    height: 60px;
    width: 60px;
    margin-top: 13px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.menu ul {
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

ul li {   
    margin-top: 25px;
    padding: 0 35px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: "Cascadia Code", monospace;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: rgb(233, 223, 223);
}

html {
    scroll-behavior: smooth;
}

.section-divider {
    justify-content: center;
    width: 90%;
    height: 3px;
    margin: 40px auto;
    margin-top: 50px;
    background: linear-gradient(
        to right,
        transparent 0%,
        black 50%,
        transparent 100%
    );
    filter: blur(0.4px);
}

.intro {
    width: 100%;
    height: 80vh;
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro img {
    width: 350px;
}

.intro h1 {
    font-size: 40px;
    margin: 15px;
    font-family: monospace;
    color: #854b7e
}

.intro h2 {
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

.download {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.download img {
    width: 50px;
}

.resume-button {
    padding: 10px 20px;
    background-color: #8ca2b4;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Cascadia Code", monospace;
}

.about {
    width: 100%;
}

#About {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    scroll-margin-top: 150px;
}

#About h2 {
    text-align: center;
    font-size: xx-large;
    font-family: "Cascadia Code", monospace;
}

.about-container {
    display: flex;
    align-items: flex-start;
    gap: 70px;
}

.about-container img {
    width: 500px;
    border-radius: 15px;
    display: block;
    margin-left: 80px;
    margin-top: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.about-text {
    position: absolute;
    left: 44%;
    margin-top: 100px;
    outline: 2px solid black;
    width: 800px;
    height: 400px;
    border-radius: 30px;
    background-color: #b48caf20;
    display: flex;
    align-items: center;    
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.about-text p{
    font-family: "Cascadia Code", monospace;
    line-height: 2;
    font-size: medium;
    height: 250px;
    width: 750px;

}

#Technologies {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    box-sizing: border-box;
    scroll-margin-top: 150px;
}

#Technologies h2 {
    text-align: center;
    font-size: xx-large;
    font-family: "Cascadia Code", monospace;
    height: 60px;

}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 30px;
    gap: 50px;
    margin: 30px auto 0 auto;
    height: auto;
}

.section {
    display: flex;
    align-items: flex-start;
}

.section-title {
    margin: 0;
    padding-top: 5px; 
    min-width: 200px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
}

.section-content {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.skill-image-container {
    position: relative;
    width: 130px;
    height: 130px;
    outline: 2px solid rgb(122, 81, 137);
    background-color: #cbd5dd;
    border-radius: 15px;
}

.skill-image-container img,
.skill-image-container .skill-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s ease;
    font-family: "Cascadia Code", monospace;
    color: #333;
    text-align: center;
}

.language {
   font-weight: bold; 
   margin-top: 5px;
   font-size: 22px;
}

.proficiency {
    margin-top: 6px;    
}

.skill-image-container img {
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.skill-image-container:hover .skill-text {
  opacity: 1;
}

.skill-image-container:hover img {
    opacity: 0;
}


.skill-box img {
    width: 130px;
    height: 130px;
    background-color: #cbd5dd;
}

.bar {
    margin-top: 5px;
    height: 10px;
    width: 140px;
    border-radius: 14px;
    overflow: hidden;
    outline: 1px solid rgb(122, 81, 137);
    position: relative;
    background: linear-gradient(
        to right,
        rgb(57, 83, 63) 0%,
        rgb(83, 138, 98) 25%,
        rgb(93, 171, 109) 50%,
        rgb(95, 203, 106) 75%
    );
}

.bar-fill {
    position: absolute;
    height: 100%;
    background-color: #ccc;
    right: 0;
    top: 0;
    z-index: 1;
    border-radius: 0 5 5 0;
}

#Projects {
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    margin-top: 50px;
    box-sizing: border-box;
    font-family: "Cascadia Code", monospace;
    scroll-margin-top: 150px;

}

#Projects h2 {
    text-align: center;
    font-size: xx-large;
    height: 60px;
}

.project-box {
    position: relative;
    width: 90%;
    height: 300px;
    margin: 50px auto 0 auto;
    border-radius: 25px;
    background-color: #9ec4e043;
    outline: 3px solid black;
}

.project-name {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: bold;
}

.project-description {
    position: absolute;
    align-items: center;
    top: 60px;
    left: 50%;
    height: 100px;
    width: 90%;
    transform: translateX(-50%);
    line-height: 2;
    font-size: medium;
}

.project-languages {
    position: absolute;
    bottom: 30px;
    left: 15%;
    width: 300px;
    height: 60px;
    padding: 10px 10px;
    margin: 0;
    outline: 1px solid rgb(77, 54, 85);
    border-radius: 15px;
    background-color: #a871a81b;
}

.info-header {
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.project-languages ul { 
    height: 83%;
    list-style-type: disc;
    list-style-position: inside;
    column-count: 2;
    column-gap: 30px;
    padding-left: 10px;
    margin: 0;
}

.project-languages li {
    font-size: 15px;
    margin: 0;
    padding-left: 10px;
    line-height: 1.5;
    width: 100%;
}

.project-git {
    position: absolute;
    bottom: 30px;
    right: 15%;
    width: 300px;
    height: 60px;
    padding: 10px;
    margin: 0;
    outline: 1px solid rgb(77, 54, 85);
    border-radius: 15px;
    background-color: #a871a81b;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.project-git a {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.project-git a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 110%;
    height: 2px;
    transition: transform 0.3s ease;
    background-color: rgb(91, 6, 114);
}

.project-git a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.project-updated {
    position: absolute;
    right: 20px;
    bottom: 5px;
    font-weight: 300;
    font-size: 15px;
}

#Contact {
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    box-sizing: border-box;
    font-family: "Cascadia Code", monospace;
}

#Contact h2 {
    text-align: center;
    font-size: xx-large;
    height: 70px;
}

.perfer {
    padding-left: 28%;
    padding-bottom: 7px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    height: 100px;
    width: 85%;
    margin: 0 auto; 
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid black;
    width: 25%;
    height: 100px;
    border-radius: 25px;
    background-color: #d193df43;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.contact-info {
    text-align: center;
    top: 50%;
}

.contact-info h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}
